.contact-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Righteous', cursive;
    /* color: 'white'; */
}

label {
    font-weight: bold;
    text-align: 'center'
}